 
  .about-me-section {
    padding: 40px;
    text-align: center;
    /* background-color: #650485a5; */
    margin: 20px 40px;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
  }
  
  .about-me-section h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;    
    color: #012141;
  }
  
  .counters {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .counter-box {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 180px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .counter-box h2 {
    font-size: 2.2rem;
    color: #0056b3;
    margin: 0;
  }
  
  .counter-box p {
    margin: 10px 0 0;
    color: #666;
    font-size: 0.9rem;
  }
  