/* Footer Styles */
.footer {
    background-color: #012141;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .text-lg-start {
    text-align: left !important;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-lg-6,
  .col-lg-3,
  .col-md-12,
  .col-md-6 {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .list-unstyled {
    list-style: none;
    padding: 0;
  }
  
  .list-unstyled li {
    margin-bottom: 0.5rem;
  }

  
  .copyright {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
    background-color: #012141;
    color: white;
  }