* {
  transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  /* padding: 12px; */
  width: 100%;
  background-color: #012141;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 80px;
}

.nav-menu {
  display: flex;
  /* margin: 8px; */
}

.nav-menu.hidden {
  display: none;
}

.nav-menu.show {
  display: block;
  flex-direction: column;
  width: 100%;
  text-align: center;
  background-color: #012141;
}

.nav-logo-box {
  display: flex;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
  padding: 12px;
}

.nav-logo-box h1 {
  font-size: 30px;
  margin-left: 20px;
}

.nav-logo-box{
  padding-left: 10px;
}

.nav-logo-box .logo{
  background-image: url('../Assets/nav-logo.png');
  width: 40px;
  height: 40px;
}

.nav-menu-item {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0 10px;
  text-align: center;
}

.nav-menu-item:hover {
  color: orange;
}

.nav-menu-item::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: orange;
  transition: width 0.5s ease;
}

.nav-menu-item:hover::after {
  width: 100%;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0d0b09;
  color: orange;
  padding: 10px 0;
  min-width: 100px;
  z-index: 1;
}

.dropdown-item {
  color: orange;
  text-decoration: none;
  padding: 5px 10px;
  white-space: nowrap;
}

.dropdown-item:hover {
  background-color: #222;
}

.nav-menu-mobile {
  display: none;
  cursor: pointer;
  padding: 12px;
}

.menu-toggle {
  font-size: 30px;
}

@media (max-width: 1000px) {
  .nav-menu {
    display: none;
  }

  .nav-menu-mobile {
    display: block;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-menu-item {
    display: block;
    margin: 10px 0;
  }

  .nav-menu-item::after {
    display: none;
  }

  .nav-menu-item:hover::after {
    display: none;
  }
}

.nav-menu-item.active-link {
  color: red;
  /* Example active link color */
  font-weight: bold;
}

.logo {
  /* height: 150px;
  width: 150px; */
  border-radius: 50%;
  background-size: cover;
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  top: -15px; /* Larger outline, adjust as needed */
  left: -15px;
  width: 70px; /* Adjust size to fit */
  height: 70px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: blue; /* Different starting color */
  animation: rotateColorCounter 3s linear infinite;
}

.logo::before {
  content: "";
  position: absolute;
  top: -7.5px;
  left: -7.5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 4px solid transparent;
  /* Border initially transparent */
  border-top-color: red;
  /* Starting color */
  animation: rotateColor 2s linear infinite;
  /* Animation applied */
}

@keyframes rotateColor {
  0% {
    transform: rotate(0deg);
    border-top-color: #88018a;
  }

  25% {
    transform: rotate(90deg);
    border-top-color: hwb(263 5% 17%);
  }

  50% {
    transform: rotate(180deg);
    border-top-color: rgb(21, 184, 233);
  }

  75% {
    transform: rotate(270deg);
    border-top-color: rgb(75, 13, 189);
  }

  100% {
    transform: rotate(360deg);
    border-top-color: rgb(255, 0, 72);
  }
}
@keyframes rotateColorCounter {
  0% {
    transform: rotate(0deg);
    border-top-color: #018a44;
  }
  25% {
    transform: rotate(-90deg); /* Negative rotation for counterclockwise */
    border-top-color: #ffaa00;
  }
  50% {
    transform: rotate(-180deg);
    border-top-color: #ff00e1;
  }
  75% {
    transform: rotate(-270deg);
    border-top-color: #018aff;
  }
  100% {
    transform: rotate(-360deg);
    border-top-color: #00ff6f;
  }
}