
.carousel-inner {
    height: 480px; /* Adjust this value as needed */
  }

  /* Ensure images fill the carousel height */
  .carousel-inner img {
    height: 100%;
    object-fit: cover; /* Maintains aspect ratio while filling the area */
  }

.slider{
    display: block;
}
